body {
    margin: 0;
    background: #353333;
    font-family: 'Courier New', Courier, monospace;
}

* {
    box-sizing: border-box;
    color: rgb(23, 162, 4);
}

/* For desktop: */
.container {
    width: 90%;
    margin: 0 auto;
}
/* For mobile: */
@media screen and (max-width: 1000px) {
    .container {
        width: 100%;
    }
}
/* For desktop: */
.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* For mobile: */
@media screen and (max-width: 1000px) {
    .row {
        flex-wrap: wrap;
    }
}

.justify-content-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

/* For desktop: */
.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

/* For mobile: */
@media only screen and (max-width: 1000px) {
    [class*="col-"] {
        width: 100%;
    }
}

/* For desktop: */
[class*="col-"] {
    padding: 15px;
}

.shadow {
    box-shadow: 0 0 20px rgb(38, 244, 6);
    border-radius: 10px;
}
nav ul{
    padding: 0;
    margin: 0;
    list-style-type: none;
}

nav li {
    display: inline;
    padding: 10px;
    font-size: 20px;
}
/* For mobile: */
@media screen and (max-width: 1000px) {
    nav li {
        display: flex;
        justify-content: center;
        font-size: 30px;
    }
    nav ul {
        background-color: rgb(243, 251, 254);
    }
}

nav li a {
    color: rgb(13, 225, 27);
}

nav li:hover {
    color:  rgb(51, 255, 0);
}
nav li a:hover {
    background-color:  rgb(0, 0, 0);
}

.text-right{
    text-align: right;
}

a {
    text-decoration: none;
}
.text-center {
    text-align: center;
}
.py-3 {
    padding: 16px 0;
}
.px-3 {
    padding: 0 16px;
}
.p-3 {
    padding: 16px;
}

.bg-azul-o {
    background-color: rgb(59, 222, 0);
}
.bg-azul-c {
    background-color: rgb(240, 249, 252);
}
.bg-orange {
    background-color: orange;
}
.text-white {
    color: white;
}
.text-red {
    color: red;
    font-size: 30px;
    background-color: cyan;
}
footer h1 {
    border-bottom-left-radius: 10px;
}
footer h1 {
    border-bottom-right-radius: 10px;
}

h1 {
    margin: 0;
}

#btnmenu {
    font-size: 40px;
    display: none;
}
/* For mobile: */
@media screen and (max-width: 1000px) {
    #btnmenu {
        display: inline;
    }
    #menu{
        display: none;
    }
}
@media screen and (max-width: 1600px) and (min-width: 1000px)  {
    #menu{
        display: block;
    }
}

.etiqueta{
    font-size: 28px;
    color: rgb(249, 226, 16);
    font-weight: bold;
    
}
#enlaces a {
    color: rgb(92, 255, 92);
    text-decoration: underline;
    font-size: 24px;
}

a:hover img {
    transform: scale(1.1); /* Escala la imagen al 110% */
}
#listas .customdes li{
    list-style: square;
}
#listas .customdes li li{
    list-style: disc;
}
#listas .customdes li li li{
    list-style: circle;
}
#listas .customor li{
    list-style: lower-roman;
}
#listas .customor li li{
    list-style: georgian;
}
#listas .customor li li li{
    list-style: lower-greek;
}
#listas .customdesicono li{
    list-style-image: url("../img/tierraicono\ \(1\).png");
}
#listas .customdesicono li li{
    list-style-image: url("../img/coheteicono.png");
}
#listas .customdesicono li li li{
    list-style-image: url("../img/estrellaicono\ \(1\).png");
}

#listas .customdefi{
    width: 30%;
}
#listas .customdefi dt{
    display: inline;
    background-color: rgb(46, 2, 159);
    font-size: 24px;
    font-weight: bold;
}

#listas .customdefi dd{
    font-size: 16px;
    font-family: monospace;
}


#listas li{
    font-family: monospace;
    font-size: 16px;
}

#listas h3{
    font-size: 25px;
    font-family: monospace;
}


#tablas .tablath th{
    background-color: blue;
    color:white;
}

#tablas .parimpar  tr:nth-child(odd) td{
    background-color: #fff700; 
    color: #000000;
}

#tablas .parimpar tr:nth-child(even) td{
    background-color: #000000;
    color: white; 
}
#tablas .horariocustom{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
}

#tablas .horariocustom td{
    color:#000000
}
#tablas .horariocustom .diashorario{
    font-weight: normal;
}

#tablas .horariocustom th{
    color:#057a83; 
    background-color:#f0f0f0;
    font-weight: bold;
}
#tablas .BDD{
    background-color: #81ff81;
}
#tablas .PROG{
    background-color: #64b4ef;
}
#tablas .SISI{
    background-color: #65aa97;
}
#tablas .LMSG{
    background-color: #d2d26e;
}
#tablas .PIMD{
    background-color: #ffc897;
}
#tablas .IPCG{
    background-color: #ff9f68;
}
#tablas .DASP{
    background-color: #ffff63;
}
#tablas .IPE{
    background-color: #fe8081;
}
#tablas .ENDE{
    background-color: #c9a2c7;
}
#tablas .SASP{
    background-color: #28c8c8;
}

#formularios .formlogin{
    float: left;
}
#formularios .formregister{
    float: right;
}


.col3 {
    width: 33.3%;
    float: left;
}
.col3 img {
    padding: 4px;
}
video {
    display: block;
    width: 50%;
    margin: 0 auto;
}
audio {
    display: block;
    margin: 0 auto;
}

input[type="button"] {
    background-color: green; 
    color: black;           
    border: none;          
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
input[type="button"]:hover {
    background-color: darkgreen;
}

.centrado {
    display: block;
    margin: auto;
}

.centrado:hover{
    transform: scale(1.05);
}
